<style>body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343a40;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

footer {
    display: block;
    text-align: center;
    background-color: #343a40;
    overflow: hidden;
    color: white;
}

.homeContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background: white;
    margin: auto;
    padding: auto;
    overflow: hidden;
    color: black;
}

.contactForm {
    display: block;
}

.albumForm {
    display: block;
}

.contentContainer {
    display: flex;
    width: 95%;
    height: 95%;
    background: ghostwhite;
    margin: auto;
    padding: auto;
    overflow: hidden;
    color: black;
}

.menuBox {
    width: 10%;
    height: 100%;
    background: red;
    float: left;
    text-align: center;
    color: white;
}

.carouselBox {
    width: 100%;
    height: 60%;
    background-color: red;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.box {
    width: 100%;
    height: 100%;
}

.mySlides {
    display: none;
}

.fontAwesome {
    font-size: 26px;
}

.buttonSubmit {
    font-size: 16px;
}

.div1,
.div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-image: url('');
    background-size: cover;
    background-position: center;
}

.upload-button {
    padding: 4px;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    float: left;
}

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.file-upload {
    display: none;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: auto;
}

input[type=file] {
    padding: 10px;
    background: #7ed6ff;
}

</style>